/* 
    Created on : 4 mar 2024, 17:03:46
    Author     : G4
*/

footer p{
    background-color: teal;
    color:white;
}

h1,h2{
    text-align: left;
}

h1{
    background-color: purple;
    color: white;
    font-size: 20px;
}

h2{
    background-color: peachpuff;
    color: palevioletred;
    font-size: 24px;
}

.aviso{
    color: black;
}

#btnAlgo{

}

table{
    width: 90%;
}
thead tr{
    background-color: black;
    color: wheat;
}

tbody tr:nth-child(odd){
    background-color: blue;
    color: white;
}

tbody tr:nth-child(even){
    background-color: black;
    color: white;
}

